:root {
    --transition: all 300ms ease-in-out;
    --dark-color: #02040F;
    --light-color: #fff;
    --light-gray-1: #f1f1f1;
    --light-gray-2: #f5f5f5;
    --light-gray-3: #f7f7f7;
    --middle-gray: #e5e5e5;
    --timberwolf: #E5DADA;
    --middle-gray-2: #d5d5d5;
    --dark-gray: #666;
    --primary-yellow: #E59500;
    --primary-green: #4DB6AC;
    --secundary-green: #26A69A;
    --tercery-green: #4CA1AF;
    --primary-blue: #1E3A8A;
    --secundary-blue: #58738a;
    --prussian-blue: #002642;
    --error-color: #ff0000;
    --font-primary: 'Roboto', sans-serif;
}

header {
    background-color: var(--light-color);
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:1rem;
    padding: 1rem 0;
    transition: var(--transition);
}

.menu-hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

.menu-hamburger i {
    font-size: 2.2rem;
    cursor: pointer;
    padding: 1rem;
    transition: var(--transition);
}

.menu-hamburger i:hover {
    color: var(--primary-green);
}

.menu-hamburger img { 
    width: 5rem;
    height: 5rem;
    border-radius: .25rem;
    box-shadow: none;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-color: var(--light-gray-3);
    padding: 0 1rem;
    border-radius: 4rem;
}

.search input {
    border: none;
    background-color: var(--light-gray-3);
    color: var(--dark-gray);
    font-size: 1.6rem;
    padding: .5rem;
    outline: none;
}

.search i {
    font-size: 2rem;
    color: var(--tercery-green);
    padding: .25rem;
}

.search i:hover {
    opacity: 0.7;
}

.telephone,
.login, 
.shopping-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.telephone i,
.login i,
.shopping-cart i {
    font-size: 3.2rem;
    color: var(--tercery-green);
}

.telephone .telephone-content,
.login .login-content {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.telephone .telephone-content .telesales,
.login .login-span {
    font-size: 1.6rem;
    color: var(--dark-gray);
    font-weight: 400;
}

.telephone .telephone-content .number,
.login .myorders a{
    font-size: 1.8rem;
    color: var(--dark-gray);
    font-weight: 700;
}

.login i,
.shopping-cart i {
    font-size: 2.8rem;
}

.login .login-span a {
    font-style: italic;
    transition: var(--transition);
}

.login .myorders a {
    transition: var(--transition);
}

.login .myorders a:hover,
.login .login-span a:hover {
    color: var(--primary-green);
}

.shopping-cart i:hover {
    opacity: 0.7;
}

.form-group {
    margin-bottom: 2rem;
    max-width: 600px;
}

.form-group label {
    font-size: 1.6rem;
    color: var(--dark-gray);
    font-weight: 700;
}